<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   <title>Zay Shop - Login Page</title>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{{!-- Details --}}
   <link rel="stylesheet" href="/stylesheets/Detail/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/Detail/templatemo.css">
    <link rel="stylesheet" href="/stylesheets/Detail/custom.css">
<!-- ===== All CSS files login ===== -->
   <link rel="stylesheet" href="/stylesheets/Login/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/Login/animate.css" />
    <link rel="stylesheet" href="/stylesheets/Login/lineicons.css" />
    <link rel="stylesheet" href="/stylesheets/Login/ud-styles.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/stylesheets/Detail/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/Detail/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Detail/slick-theme.css">

    <!-- ===== All CSS files home ===== -->
          <!--     Fonts and icons     -->
          <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
          <!-- CSS Files -->
          <link href="/stylesheets/Home/bootstrap.min.css" rel="stylesheet" />
          <link href="/stylesheets/Home/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
          <!-- CSS Just for demo purpose, don't include it in your project -->
          <link href="/stylesheets/Home/demo.css" rel="stylesheet" />
  </head>
  <body>
    {{{body}}}

     <!-- Details -->
        <script src="/javascripts/Detail/jquery-1.11.0.min.js"></script>
        <script src="/javascripts/Detail/jquery-migrate-1.2.1.min.js"></script>
        <script src="/javascripts/Detail/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/Detail/templatemo.js"></script>
        <script src="/javascripts/Detail/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
        <script src="/javascripts/Detail/slick.min.js"></script>
    <!-- Details -->

    {{!-- Login --}}
        <script src="/javascripts/Login/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/Login/wow.min.js"></script>
        <script src="/javascripts/Login/main.js"></script>

    {{!-- Home --}}
          <script src="/javascripts/Home/core/jquery.min.js"></script>
        <script src="/javascripts/Home/core/popper.min.js"></script>
        <script src="/javascripts/Home/core/bootstrap.min.js"></script>
        <script src="/javascripts/Home/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chart JS -->
        <script src="/javascripts/Home/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="/javascripts/Home/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/javascripts/Home/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
        <script src="/javascripts/Home/demo.js"></script>
        <script>
          $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

          });
        </script>
  </body>
</html>
