 <div class="container-fluid p-5 bg-primary text-white text-center ">
  <h1>Tính Diện Tích Hình Tròn</h1>
  </div>
<form style="background-color: #F7C04A; padding: 16px;">
    

    {{!-- <div class="row">
        <div class="col">
            <input type="number" class="form-control" placeholder="Enter Number a" name="Number a">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Enter Number b" name="pswd">
        </div>
    </div> --}}
    <h3 class="col pt-5 text-white">
        Diện tích hình tròn = {{result}}
    </h3>
    {{!-- <div class="row pt-5">
        <div class="col-sm-4"></div>
        <button type="button" class="btn btn-primary col-sm-4">Submit</button>
        <div class="col-sm-4"></div>
    </div> --}}
</form>
